{
  "account": "123456789012",
  "region": "us-east-1",
  "bucket_name_prefix": "",
  "minecraft": {
    "server_size": "small",
    "enable_route53": false,
    "hosted_zone_id": "",
    "domain_name": "",
    "budget_email": "your-email@example.com",
    "budget_amount": 10,
    "allowed_cidrs": ["0.0.0.0/0"],
    "variables": {
      "MOTD": "Terraria Server - Welcome!",
      "TYPE": "AUTO_CURSEFORGE",
      "CF_API_KEY": "abcdlol",
      "CF_SLUG": "better-mc-forge-bmc4"
    }
  }
}
